<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./trading.css ">
    <link rel="icon" href="./img/logo 1.jpeg" type="image/icon type" style="width: 114px;height: 110px;">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>KPK Software Alliances </title>
</head>

<body>
    <!-- THIS IS THE NAVIGATION BAR SECTION  -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container-fluid">
            <!-- Logo on the left -->
            <img class="navbar-brand" src="./img/logo.jpeg" alt="This is logo"></img>

            <!-- Use flexbox utility classes to push items to the right -->
            <div class="d-flex justify-content-end">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/#about">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/tech.html">Tech</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/university.html">University</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/club.html">Clubs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Tourism</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact Us</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </nav>

    <section id="home">
        <div class="home-container">
            <h2>Back-End Development</h2>
            <div class="stating">
                <div class="btn btn-1">Starting From</div>
                <div class="btn btn-2">July 15,2024</div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="img">
                        <img src="./img/calendar.png" alt="This is calendar png">
                    </div>
                    <div class="para">
                        <h4>Duration:</h4>
                        <h4 class="bold">Three month</h4>
                    </div>
                </div>
                <div class="col">
                    <div class="img">
                        <img src="./img/timing.png" alt="This is calendar png">
                    </div>
                    <div class="para">
                        <h4>Class Timing:</h4>
                        <h4 class="bold">To be mutually decided with Students</h4>
                    </div>
                </div>
                <div class="col">
                    <div class="img">
                        <img src="./img/traning.png" alt="This is calendar png">
                    </div>
                    <div class="para">
                        <h4>Mode of Training:</h4>
                        <h4 class="bold">On Campus</h4>
                    </div>
                </div>
            </div>
            <div class="price">20,000 PKR</div>
        </div>
        <div class="row1">
            <div class="btn"><a href="https://wa.me/923105008062">APPLY NOW</a></div>
        </div>
        </div>
        <!-- THIS IS THE CLUB SECTION  -->
        <div id="club">
            <div class="club-container">
                <div class="club-li">
                    <img src="./img/white-tick.png" alt="This is tick icon">
                    <li>Strong demand for skilled back-end developers across various industries and sectors.
                    </li>
                </div>
                <div class="club-li">
                    <img src="./img/white-tick.png" alt="This is tick icon">
                    <li>Responsible for the server-side logic, database interactions, and application architecture.
                    </li>
                </div>
                <div class="club-li">
                    <img src="./img/white-tick.png" alt="This is tick icon">
                    <li> Develop scalable and efficient systems that can handle increasing loads and user demands.
                    </li>
                </div>
                <div class="club-li">
                    <img src="./img/white-tick.png" alt="This is tick icon">
                    <li>Implement security measures to protect data and ensure privacy.
                    </li>
                </div>
                <div class="club-li">
                    <img src="./img/white-tick.png" alt="This is tick icon">
                    <li>Collaborate with front-end developers to create seamless and cohesive user experiences.
                    </li>
                </div>
                <div class="club-li">
                    <img src="./img/white-tick.png" alt="This is tick icon">
                    <li>Work with various programming languages, frameworks, and technologies.</li>
                </div>
            </div>
        </div>
    </section>

    <!-- THIS IS THE MODULE SECTION  -->
    <section id="module">
        <div class="module-container">
            <h2>MODULE BREAKDOWN</h2>
            <h4>Now…here’s something SUPER EXCITING that we have to share with you…</h4>
            <h4>This is a complete overview of the actions you will take while building your business with the Enablers.
            </h4>
        </div>
        <div class="conatiner"> 
            <h3>GETTING STARTED</h3>
            <h4>Back-End Development</h4>
            <h5>Introduction to Back-End Development</h5>
            <ul>
                <li>Overview of Front-End Development</li>
                <li>Types of Languages used in Front-End Development</li>
            </ul>

            <h5>React JS</h5>
            <ul>
                <li>Components, State Management, Hooks, Routing, and Redux</li>
            </ul>
            <h5>Node JS</h5>
            <ul>
                <li>Server-Side Programming, Modules, File System, and Streams.</li>
            </ul>
            <h5>Next JS</h5>
            <ul>
                <li> Server-Side Rendering, Static Site Generation, and API Routes.
                </li>
            </ul>
            <h5>Express JS</h5>
            <ul>
                <li>RESTful APIs, Middleware, Authentication, and Error Handling.
                </li>
            </ul>
            <h5>Database</h5>
            <ul>
                <li>SQL and NoSQL Databases, CRUD Operations, Data Modeling, and Integration with Node JS.
                </li>
            </ul>

        </div>
    </section>



    <!-- This is the footer section  -->
    <div id="footer">
        <div class="container">
            <footer class="py-5">
                <div class="row">
                    <div class="col-6 col-md-2 mb-3">
                        <h5>KPKSA</h5>
                        <p>KPK Software Alliances (KPKSA) – Empowering Pakistan through technology, education, and
                            innovation.</p>
                    </div>

                    <div class="col-6 col-md-2 mb-3">
                        <h5>Section</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-body-light">Home</a></li>
                            <li class="nav-item mb-2"><a href="/#about" class="nav-link p-0 text-body-light">About
                                    Us</a>
                            </li>
                            <li class="nav-item mb-2"><a href="/tech.html" class="nav-link p-0 text-body-light">Tech</a>
                            </li>
                            <li class="nav-item mb-2"><a href="/university.html"
                                    class="nav-link p-0 text-body-light">University</a>
                            </li>
                            <li class="nav-item mb-2"><a href="/club.html" class="nav-link p-0 text-body-light">Club</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light">Tourism</a></li>
                            <li class="nav-item mb-2"><a href="https://wa.me/923105008062"
                                    class="nav-link p-0 text-body-light">Contact Us</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-6 col-md-3 mb-3">
                        <h5>Contact</h5>
                        <div class="contact-card">
                            <a href="https://wa.me/923105008062"><img class="contact-img" src="./img/phone (2).png"
                                    alt="This is  media png">+3105008062</a>
                        </div>
                        <div class="contact-card">
                            <a
                                href="https://mail.google.com/mail/u/#inboxcompose=XBcJlHgSVlmjgJcdClMCZcqlrWRJRGtRjCggcJbZLRzzDhbvFklNWDzwlJxznhFmrxlVLGCfNGCgxZZv"><img
                                    class="contact-img" src="./img/messge.png"
                                    alt="This is  media png">kpksoftwarealliance@gmail.com</a>
                        </div>
                        <div class="contact-card">
                            <a href="#"><img class="contact-img" src="./img/internet.png"
                                    alt="This is  media png">www.kpksa.org</a>
                        </div>
                    </div>

                    <div class="col-md-4 offset-md-1 mb-3">
                        <div class="adress">
                            <h3>Address</h3>
                            <p>London Address: 527 Kingsland Rd, London E8 4AR, UK.</p>
                            <p>Pakistan Address: 3rd Floor, Afzal Towers, above Shaheen Chemist, near Town BRT Station, University Town, Peshawar, Khyber Pakhtunkhwa 25000.</p>
                        </div>
                    </div>

                    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                        <p>© 2024 Company, Inc. All rights reserved.</p>
                        <ul class="list-unstyled d-flex socail-img">
                            <li class="ms-3"><a class="link-body-emphasis" href="#"><img src="./img/linkedin_white.png"
                                        alt="images"></a></li>
                            <li class="ms-3"><a class="link-body-emphasis" href="#"><img
                                        src="./img/facebook-white-removebg-preview (1).png" alt="images"></a></li>
                            <li class="ms-3"><a class="link-body-emphasis" href="#"><img src="./img/tiktok.webp"
                                        alt="images"></a></li>
                        </ul>
                    </div>
            </footer>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.min.js"></script>
</body>

</html>