<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./index.css">
    <link rel="icon" href="./img/logo 1.jpeg" type="image/icon type" style="width: 114px;height: 110px;">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>KPK Software Alliances </title>
</head>

<body>
    <!-- THIS IS THE NAVIGATION BAR SECTION  -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container-fluid">
            <!-- Logo on the left -->
            <img class="navbar-brand" src="./img/logo.jpeg" alt="This is logo"></img>

            <!-- Use flexbox utility classes to push items to the right -->
            <div class="d-flex justify-content-end">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/#about">About US</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Tech</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">University</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Clubs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Tourism</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact Us</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </nav>


    <!-- THIS IS THE HOME SECTION  -->
    <div id="home">
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class=""
                    aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"
                    class=""></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"
                    class="active" aria-current="true"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active  box-1">
                    <img src="./img/bg.jpg" alt="This is the background img">

                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h1>KPK Software Alliance</h1>
                            <p>Our aim is Empowering Pakistan's Economy through Technology and Education.</p>
                            <p><a class="btn btn-lg btn-secondary" href="#">Let's Do It</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item box-2">
                    <img src="./img/bg3.jpg" alt="This is the background img">

                    <div class="container">
                        <div class="carousel-caption">
                            <h1>World Class Hub Of innovation</h1>
                            <p>London Tech Week is a global celebration of tech, uniting the most innovative thinkers
                                and talent of tomorrow in a week-long festival. For 2023, LTW returns to Westminster at
                                the Queen Elizabeth II Centre from June 12-16 2023.</p>
                            <p><a class="btn btn-lg btn-secondary" href="#">Let's Discover</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item box-3">
                    <h1 id="heading">Alliance</h1>

                    <div class="container">
                        <div class="carousel-caption text-end">
                            <h1>The Olympics Of Tech</h1>
                            <p>Join us for the ultimate tech showcase at Collision Canada! From June 19-20, 2024,
                                Toronto will host this prestigious event, offering unparalleled growth and networking
                                prospects for Pakistan’s tech industry..</p>
                            <p><a class="btn btn-lg btn-secondary" href="#">Let's Discover</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>


    <!-- This is Initiatives Section -->
    <div id="initiatives">
        <h2>Initiatives</h2>
        <div class="container">
            <div id="card-1" class="box">
                <div class="img">
                    <img src="./img/kpktech.webp" alt="This is img">
                </div>
                <div class="para">
                    <h3>KPKSA Tech</h3>
                    <p> KPK tech is an alliance of different software houses which collaborates with each other for the
                        development of Pakistan economy. </p>
                    <p><a class="btn btn-lg btn-primary btn-sm" href="#">Let's Discover</a></p>
                </div>

            </div>
            <div id="card-2" class="box">
                <div class="img">
                    <img src="./img/kpksauni.webp" alt="This is img">
                </div>
                <div class="para">
                    <h3>KPKSA University</h3>
                    <p> The KPKSA University is dedicated to bridging the gap between academic learning and market
                        demands in Pakistan. </p>
                    <p><a class="btn btn-lg btn-primary btn-sm" href="#">Let's Discover</a></p>
                </div>

            </div>
            <div id="card-3" class="box">
                <div class="img">
                    <img src="./img/kpksaclub.webp" alt="This is img">
                </div>
                <div class="para">
                    <h3>KPKSA Club</h3>
                    <p> KPKSA club provides opportunities for students of KPKSA University to make networks and works
                        jointly on projects. </p>
                    <p><a class="btn btn-lg btn-primary btn-sm" href="#">Let's Discover</a></p>
                </div>

            </div>
            <div id="card-4" class="box">
                <div class="img">
                    <img src="./img/kpksatour.webp" alt="This is img">
                </div>
                <div class="para">
                    <h3>KPKSA Tourism</h3>
                    <p> KPKSA Tourism provides students with the unique opportunity to visit various software houses
                        across Pakistan, enhancing their industry awareness and practical knowledge. </p>
                    <p><a class="btn btn-lg btn-primary btn-sm" href="#">Let's Discover</a></p>
                </div>

            </div>
        </div>
    </div>

    <!-- This is the About Us section  -->
    <div id="about">
        <div class="container marketing">
            <!-- START THE FEATURETTES -->
            <h1>About KPK Software Alliance</h1>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Who We Are ? <span class="text-muted"></span>
                    </h2>
                    <p class="lead">
                        KPK Software Alliances (KPKSA) is a dynamic consortium of software houses and educational
                        initiatives committed to advancing Pakistan's economy through technology and education. Our
                        collaborative approach unites leading tech companies, skilled professionals, and aspiring
                        students, fostering innovation and growth. At KPKSA, we believe in the power of collective
                        effort to bridge the gap between academia and industry, providing comprehensive training,
                        networking opportunities, and real-world exposure to prepare the next generation of tech
                        leaders. By empowering individuals with the skills and connections needed for success, we aim to
                        drive sustainable development and technological progress across the nation.</p>
                </div>
                <div class="col-md-5">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                        src="./img/about-bg.webp" alt="This is about img">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Our Mission <span class="text-muted"></span></h2>
                    <p class="lead">At KPK Software Alliances (KPKSA), our mission is to transform Pakistan's
                        technological landscape by fostering collaboration between academia and industry. We are
                        dedicated to providing high-quality education, practical training, and real-world experiences to
                        bridge the gap between academic learning and market demands. Through our comprehensive programs,
                        innovative projects, and strategic partnerships, we aim to equip students and professionals with
                        the skills, knowledge, and opportunities necessary to drive economic growth and technological
                        advancement. By nurturing talent and promoting a culture of innovation, we strive to empower
                        individuals to become leaders in the tech industry, contributing to the sustainable development
                        and prosperity of our nation.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                        src="./img/about-bg1.png" alt="This is about img">

                </div>
            </div>

            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->
        </div>

        <div class="value">
            <h2>What We Value ?</h2>
            <div class="value-container">
                <div class="value-box">
                    <h3>Collaboration </h3>
                    <p>We believe in the power of teamwork and the synergy that comes from uniting diverse talents and
                        perspectives. By working together, we can achieve greater results and drive significant
                        advancements in technology and education.</p>
                </div>
                
                <div class="value-box">
                    <h3>Innovation </h3>
                    <p>We are dedicated to fostering a culture of creativity and forward-thinking. Embracing new ideas and technologies, we strive to stay at the forefront of the tech industry and continuously seek innovative solutions to meet emerging challenges.</p>
                </div>
                <div class="value-box">
                    <h3>Integrity </h3>
                    <p> Honesty, transparency, and ethical behavior are the cornerstones of our organization. We conduct our business with the highest standards of professionalism and integrity, earning the trust and respect of our partners, clients, and community.</p>
                </div>
                <div class="value-box">
                    <h3>Excellence </h3>
                    <p>We are committed to achieving the highest standards in everything we do. From the quality of our training programs to the success of our collaborative projects, we aim for excellence in all our endeavors.</p>
                </div>
                <div class="value-box">
                    <h3>Empowerment </h3>
                    <p>We value the growth and development of individuals. By providing education, resources, and opportunities, we empower our team members and students to realize their full potential and make meaningful contributions to the tech industry.

                    </p>
                </div>
                <div class="value-box">
                    <h3>Community Impact </h3>
                    <p>We are passionate about making a positive difference in our community. Our initiatives are designed to not only advance technology but also to support economic development and improve the quality of life for people across Pakistan.</p>
                </div>

            </div>
        </div>
        <div class="team">
            <div class="team-heading">
                <h2>Meet Our Team</h2>
                <p>At KPK Software Alliances (KPKSA), our dedicated team of professionals brings together diverse
                    expertise and a shared passion for innovation. With a collaborative spirit and commitment to
                    excellence, we work tirelessly to drive technological advancement and empower individuals to succeed
                    in the dynamic world of tech.</p>
            </div>
            <div class="team-member">
                <div class="team-card">
                    <div class="team-box">
                        <div class="team-img">
                            <img src="./img/aftar.jpg" alt="This is team member pic">
                        </div>
                        <div class="team-heading">
                            <h3>ENGR. AFTAR AHMAD</h3>
                            <h5>Founder & CEO</h5>
                        </div>
                        <div class="team-socail">
                            <a href="https://www.facebook.com/profile.php?id=100011656944927" target="_blank"><img src="./img/facebook.png" alt="This is instagram img"></a>
                            <a href="https://www.linkedin.com/in/aftar-ahmad-7a1b56113/" target="_blank"><img src="./img/linkdein.webp" alt="This is linkedin img"></a>
                        </div>
                    </div>
                </div>
                <div class="team-card">
                    <div class="team-box">
                        <div class="team-img">
                            <img src="./img/mustafa.jpg" alt="This is team member pic">
                        </div>
                        <div class="team-heading">
                            <h3>ENGR. MUSTAFA AHMAD</h3>
                            <h5>Director</h5>
                        </div>
                        <div class="team-socail">
                            <a href="https://www.facebook.com/Mustafa.kh01" target="_blank"><img src="./img/facebook.png" alt="This is instagram img"></a>
                            <a href="https://www.linkedin.com/in/mmustafaahmad/" target="_blank"><img src="./img/linkdein.webp" alt="This is linkedin img"></a>
                        </div>
                    </div>
                </div>

                <div class="team-card">
                    <div class="team-box">
                        <div class="team-img">
                            <img src="./img/ilyas.jpg" alt="This is team member pic">
                        </div>
                        <div class="team-heading">
                            <h3>ENGR. MUHAMMAD ILYAS</h3>
                            <h5>Director</h5>
                        </div>
                        <div class="team-socail">
                            <a href="https://www.facebook.com/friends/requests/?profile_id=100016043837895" target="_blank"><img src="./img/facebook.png" alt="This is instagram img"></a>
                            <a href="https://www.linkedin.com/in/muhammad-ilyas-52b9982a1/" target="_blank"><img src="./img/linkdein.webp" alt="This is linkedin img"></a>
                        </div>
                    </div>
                </div>
                <div class="team-card">
                    <div class="team-box">
                        <div class="team-img">
                            <img src="./img/abdullah.jpg" alt="This is team member pic">
                        </div>
                        <div class="team-heading">
                            <h3>DR. Abdullah</h3>
                            <h5>Director</h5>
                        </div>
                        <div class="team-socail">
                            <a href="https://www.facebook.com/profile.php?id=100004239484911" target="_blank"><img src="./img/facebook.png" alt="This is instagram img"></a>
                            <a href="https://www.linkedin.com/in/ab-photography-3a34a42b5/" target="_blank"><img src="./img/linkdein.webp" alt="This is linkedin img"></a>
                        </div>
                    </div>
                </div>

                <div class="team-card">
                    <div class="team-box">
                        <div class="team-img">
                            <img src="./img/download-removebg-preview.jpg" alt="This is team member pic">
                        </div>
                        <div class="team-heading">
                            <h3>ABDAL AHMAD</h3>
                            <h5>Operational Manager</h5>
                        </div>
                        <div class="team-socail">
                            <a href="https://www.facebook.com/profile.php?id=100078376819531" target="_blank"><img src="./img/facebook.png" alt="This is instagram img"></a>
                            <a href="https://www.linkedin.com/in/abdalahmad1/" target="_blank"><img src="./img/linkdein.webp" alt="This is linkedin img"></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- This is the footer section  -->
    <div id="footer">
        <div class="container">
            <footer class="py-5">
                <div class="row">
                    <div class="col-6 col-md-2 mb-3">
                        <h5>KPKSA</h5>
                        <p>KPK Software Alliances (KPKSA) – Empowering Pakistan through technology, education, and
                            innovation.</p>
                    </div>

                    <div class="col-6 col-md-2 mb-3">
                        <h5>Section</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light">Home</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light">About Us</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light">Tech</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light">University</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light">Club</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light">Tourism</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light">Contact Us</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-6 col-md-3 mb-3">
                        <h5>Contact</h5>
                        <div class="contact-card">
                            <a href="https://wa.me/923105008062"><img class="contact-img" src="./img/phone (2).png"
                                    alt="This is  media png">+3105008062</a>
                        </div>
                        <div class="contact-card">
                            <a href="https://mail.google.com/mail/u/#inboxcompose=XBcJlHgSVlmjgJcdClMCZcqlrWRJRGtRjCggcJbZLRzzDhbvFklNWDzwlJxznhFmrxlVLGCfNGCgxZZv"><img class="contact-img" src="./img/messge.png"
                                    alt="This is  media png">kpksoftwarealliance@gmail.com</a>
                        </div>
                        <div class="contact-card">
                            <a href="#"><img class="contact-img" src="./img/internet.png"
                                    alt="This is  media png">www.kpksa.com</a>
                        </div>
                    </div>

                    <div class="col-md-4 offset-md-1 mb-3">
                        <div class="adress">
                            <h3>Address</h3>
                            <p>KPKSA(KPK Software Alliance) 3rd Floor,Afzal Towres,above Shaheen Chemist,near Town BRT
                                Station,University Town,Peshawar,KPK,Pakistan</p>
                        </div>
                    </div>

                    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                        <p>© 2024 Company, Inc. All rights reserved.</p>
                        <ul class="list-unstyled d-flex socail-img">
                            <li class="ms-3"><a class="link-body-emphasis" href="#"><img src="./img/linkedin_white.png"
                                        alt="images"></a></li>
                            <li class="ms-3"><a class="link-body-emphasis" href="#"><img
                                        src="./img/facebook-white-removebg-preview (1).png" alt="images"></a></li>
                            <li class="ms-3"><a class="link-body-emphasis" href="#"><img
                                        src="./img/twitter-removebg-preview.png" alt="images"></a></li>
                        </ul>
                    </div>
            </footer>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.min.js"></script>
</body>

</html>