<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./unveristy.css ">
    <link rel="icon" href="./img/logo 1.jpeg" type="image/icon type" style="width: 114px;height: 110px;">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>KPK Software Alliances </title>
</head>

<body>
    <!-- THIS IS THE NAVIGATION BAR SECTION  -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container-fluid">
            <!-- Logo on the left -->
            <img class="navbar-brand" src="./img/logo.jpeg" alt="This is logo"></img>

            <!-- Use flexbox utility classes to push items to the right -->
            <div class="d-flex justify-content-end">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/#about">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/tech.html">Tech</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/university.html">University</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Clubs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Tourism</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact Us</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </nav>

    <!-- THIS IS THE HOME SECTION  -->
    <section id="home">
        <div class="home-heading">
            <h1>KPKSA UNIVERSITY</h1>
            <h3>CONNECTING KNOWLEDGE WITH SKILL</h3>
        </div>
    </section>

    <!-- THIS IS THE COURCE SECTION  -->
    <Section id="cource">
        <h2>KPKSA Schools</h2>

        <div id="container">
            <div class="cource-box"> 
                <div id="card1" class="card">
                    <img src="./img/trading-banner_350x496.jpg" alt="This is our cource image">
                    <div class="card__content">
                        <h2 class="card__title">Trading Course </h2>
                        <div class="card__description">
                            <h3>Instructor: Aftar Ahmad</h3>
                            <p>Our comprehensive Trading Course is taught by Aftar Ahmad, a seasoned expert in trading
                                who has been actively involved in the field since 2016.</p>
                            <h4>Course Details:</h4>
                            <ul>
                                <li><span>Format:</span> Online</li>
                                <li><span>Duration:</span> 3 Months</li>
                                <li><span>Subscription Fee:</span> PKR 1500 per month for first 50 student</li>
                            </ul>
                            <h4>Course Content:</h4>
                            <p>This course covers basics to advanced strategies. Topics include basic to advanced Forex
                                trading, crypto trading, binary trading, technical analysis, sentimental analysis,
                                fundamental analysis, market manipulation, money management, and identifying Ponzi
                                schemes and trading schemes.</p>
                            <button class="button">
                                <span class="text"><a href="https://wa.me/923105008062">Apply Now</a></span>
                                <svg fill="currentColor" viewBox="0 0 24 24" class="icon">
                                    <path clip-rule="evenodd"
                                        d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
                                        fill-rule="evenodd"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="cource box">
                    <div id="card1" class="card">
                        <img src="./img/development_350x496.jpg" alt="This is our cource image">
                        <div class="card__content">
                            <h2 class="card__title">Development Course </h2>
                            <div class="card__description">
                                <h3>Instructor: Abdal</h3>
                                <p>Our comprehensive Trading Course is taught by Abdal Ahmad, a seasoned expert in Development
                                    who has been actively involved in the field since 2021.</p>
                                <h4>Course Details:</h4>
                                <ul>
                                    <li><span>Format:</span> At Workplace</li>
                                    <li><span>Duration:</span> 6 Months</li>
                                    <li><span>Subscription Fee:</span> PKR 4000 per month for first 50 student</li>
                                </ul>
                                <h4>Course Content:</h4>
                                <p>This course covers basic to advance Front-end Development, Back-end Development,
                                    Data Base, Learn the effective use of ChatGPT, Gemini, and Perplexity in our expert training sessions.</p>
                                <button class="button">
                                    <span class="text"><a href="https://wa.me/923105008062">Apply Now</a></span>
                                    <svg fill="currentColor" viewBox="0 0 24 24" class="icon">
                                        <path clip-rule="evenodd"
                                            d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
                                            fill-rule="evenodd"></path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cource box">
                    <div id="card1" class="card">
                        <img src="./img/social-media_350x496.jpg" alt="This is our cource image">
                        <div class="card__content">
                            <h2 class="card__title">Social Media Course </h2>
                            <div class="card__description">
                                <h3>Instructor: Mustafa</h3>
                                <p>Our comprehensive Trading Course is taught by Mustafa Ahmad, a seasoned expert in
                                    social media who has been actively involved in the field since 2020.</p>
                                <h4>Course Details:</h4>
                                <ul>
                                    <li><span>Format:</span> Online</li>
                                    <li><span>Duration:</span> 3 Months</li>
                                    <li><span>Subscription Fee:</span> PKR 1500 per month for first 50 student</li>
                                </ul>
                                <h4>Course Content:</h4>
                                <p>This course covers basics to advanced strategies.Topic include Youtube
                                    automation,Tiktok Monetization, Facebook Page Monetization, Google Adsense, Digital
                                    Marketing, and SEO. </p>
                                    <button class="button">
                                        <span class="text"><a href="https://wa.me/923105008062">Apply Now</a></span>
                                        <svg fill="currentColor" viewBox="0 0 24 24" class="icon">
                                          <path clip-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z" fill-rule="evenodd"></path>
                                        </svg>
                                      </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Section>

    <section id="enrollment">
        <div class="enroll-container">
            <div class="enroll-box">
                <img src="./img/group.jpg" alt="This is the pic of group working with us">
            </div>
            <div class="enroll-box">
                <h3>How To Enroll To KPKSA School ?</h3>
                <p>To enroll in KPKSA School courses, students should register via WhatsApp. Simply click the WhatsApp
                    icon below and send a message to our enrollment team to begin the registration process and secure
                    your spot in the course.</p>
                <div class="whatsapp">
                    <div class="tooltip-container">
                        <span class="tooltip">Enroll Now</span>
                        <span class="text"><a href="https://wa.me/923105008062" target="_blank">WhatsApp</a></span>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- This is for partners -->
    
    <section id="partner">
        <div class="heading">
            <h4>BEHIND THE PROGRAM</h4>
            <h2>PARTICIPATING COMPANIES </h2>
        </div>
        <div class="img">
            <a href="https://jadoontechnologies.com/"><img src="./img/jadoon.png" alt="This is our member logo"></a>
            <a href="https://www.enablers.org/"><img src="./img/enablers.png" alt="This is our member logo"></a>
        </div>
    </section>
    <!-- This is the footer section  -->
    <div id="footer">
        <div class="container">
            <footer class="py-5">
                <div class="row">
                    <div class="col-6 col-md-2 mb-3">
                        <h5>KPKSA</h5>
                        <p>KPK Software Alliances (KPKSA) – Empowering Pakistan through technology, education, and
                            innovation.</p>
                    </div>

                    <div class="col-6 col-md-2 mb-3">
                        <h5>Section</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light">Home</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light">About Us</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light">Tech</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light">University</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light">Club</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light">Tourism</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light">Contact Us</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-6 col-md-3 mb-3">
                        <h5>Contact</h5>
                        <div class="contact-card">
                            <a href="https://wa.me/923105008062"><img class="contact-img" src="./img/phone (2).png"
                                    alt="This is  media png">+3105008062</a>
                        </div>
                        <div class="contact-card">
                            <a
                                href="https://mail.google.com/mail/u/#inboxcompose=XBcJlHgSVlmjgJcdClMCZcqlrWRJRGtRjCggcJbZLRzzDhbvFklNWDzwlJxznhFmrxlVLGCfNGCgxZZv"><img
                                    class="contact-img" src="./img/messge.png"
                                    alt="This is  media png">kpksoftwarealliance@gmail.com</a>
                        </div>
                        <div class="contact-card">
                            <a href="#"><img class="contact-img" src="./img/internet.png"
                                    alt="This is  media png">www.kpksa.com</a>
                        </div>
                    </div>

                    <div class="col-md-4 offset-md-1 mb-3">
                        <div class="adress">
                            <h3>Address</h3>
                            <p>KPKSA(KPK Software Alliance) 3rd Floor,Afzal Towres,above Shaheen Chemist,near Town BRT
                                Station,University Town,Peshawar,KPK,Pakistan.</p>
                        </div>
                    </div>

                    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                        <p>© 2024 Company, Inc. All rights reserved.</p>
                        <ul class="list-unstyled d-flex socail-img">
                            <li class="ms-3"><a class="link-body-emphasis" href="#"><img src="./img/linkedin_white.png"
                                        alt="images"></a></li>
                            <li class="ms-3"><a class="link-body-emphasis" href="#"><img
                                        src="./img/facebook-white-removebg-preview (1).png" alt="images"></a></li>
                            <li class="ms-3"><a class="link-body-emphasis" href="#"><img src="./img/tiktok.webp"
                                        alt="images"></a></li>
                        </ul>
                    </div>
            </footer>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.min.js"></script>
</body>

</html>